body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  text-decoration: none;
}
.inner{
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* #nav {
  text-align: center;
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
} */
.header{
  position: relative;
  height: 100px;
  display: flex;
  padding : 12px 12px 0px 12px;
  margin : 20px 0 0 0;
}
.headRouter{
  color: white!important;
  font-size: 25px;
  
}
.title {
  color: white;
  background-color: #2c3e50 ;
  width: 50%;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color : wheat
}

.about{
  background-color: #6582a0 ;
  width: 50%;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBtn{
  background-size: cover;
}
.gameBox {
  position: relative;
}
.tag {
  background-color :#2c3e50;
  position: absolute;
  width: 100px;
  height: 30px;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
  color:white
}
.container {
  background-color :#2c3e50;
}
.body{
  padding : 0px 12px 0px 12px;
}